{% extends 'base.html' %}
{% block title %}
    {{ movie.title }}
{% endblock %}
{% block content %}
    <div>
        <div class="main_info">
            <h1>{{ movie.title }}</h1>
            <img class="big_img" src="{{ movie.poster.url }}">
            <p>Дата премьеры: {{ movie.release_date }}</p>
            <p>
                {% for genre in movie.genres.all %}
                    <a href="{{ genre.get_absolute_url }}">{{ genre.title }}</a>
                {% endfor %}
            </p>
        </div>
        <div class="actors">
            {% for actor in movie.actors.all %}
                <p>
                    <img class="actor_preview" src="{{ actor.image.url }}">
                    <a href="{{ actor.get_absolute_url }}">{{ actor.name }}</a>
                </p>
            {% endfor %}
        </div>
        {% if movie.gallery.all %}
            <div class="gallery">
                <h1>кадры из фильма</h1>
                {% for picture in movie.gallery.all %}
                    <img class="actor_preview" src="{{ picture.image.url }}">
                {% endfor %}
            </div>
        {% endif %}
        <div class="description">{{ movie.description }}</div>

    </div>
{% endblock %}